*{
  font-family: 'Poppins';
}
.win-or-lose-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff33;
  border: 3px solid #ffffff30;
  border-radius: 24px;
  margin: 20px auto;
  padding: 16px;
  min-height: 100vh;
}
.win-or-lose-img{
  height: 450px;
  width: 350px;
}
.detail-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-sec h1{
  font-size: 30px;
  margin-top: 0;
  color: #ffffff;
}
.detail-sec p{
  font-size: 22px;
  margin-top: 0;
  color: #ffffff;
  font-weight: 400
}
.play-again-btn {
  background-color: #ffce27;
  border: none;
  cursor: pointer;
  outline: none;
  height: 50px;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 20px;
}


@media (max-width: 768px) {
  .win-or-lose-card {
    margin:10px auto;
    flex-direction: column;
    padding: 16px;
  }
  .win-or-lose-img{
    height: 320px;
    width: 250px;
    margin-top: 5px;
  }
  .play-again-btn {
    height: 45px;
    padding: 4px 8px;
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .win-or-lose-card {
    padding: 8px;
    border-radius: 16px;
  }

  .play-again-btn {
    height: 40px;
    padding: 4px 6px;
    font-size: 12px;
  }
}